.heading {
    font-size: 25px;
    margin-right: 25px;
}

/*-------------------- Rating ------------------*/
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
    text-align: center;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    /* width: 60%;*/
    height: 18px;
    background-color: #4CAF50;
}

.bar-4 {
    /*width: 30%;*/
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    /*width: 10%;*/
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    /*    width: 4%;*/
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    /* width: 15%;*/
    height: 18px;
    background-color: #f44336;
}

@media (max-width: 767px) {
    .item-rating {
        margin-top: 30px;
    }
}
/* Hover state of the stars */
.item-rating > li.star-fill.hover > i.fa {
    color: #FFCC36;
}

/* Selected state of the stars */
.item-rating > li.star-fill.selected > i.fa {
    color: #FF912C;
}

/* Rating Star Widgets Style */
.item-rating {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

    .item-rating > li.star {
        display: inline-block;
    }

        /* Idle State of the stars */
        .item-rating > li.star > i.fa {
            font-size: 18px; /* Change the size of the stars */
            color: #ccc; /* Color on idle state */
        }

        /* Hover state of the stars */
        .item-rating > li.star.hover > i.fa {
            color: #FFCC36;
        }

        /* Selected state of the stars */
        .item-rating > li.star.selected > i.fa {
            color: #FF912C;
        }

/* ------------------- Carousel-Lake ------------------- */
#custCarousel .carousel-inner > .carousel-item > img,
#custCarousel .carousel-inner > .carousel-item > img {
    display: flex;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 500px;
}

@media (max-width: 767px) {
    #custCarousel .carousel-inner > .carousel-item > img {
        max-height: 250px;
    }
}

#custCarousel .carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

#custCarousel .carousel-control.left,
#custCarousel .carousel-control.right {
    background-image: none;
}

#custCarousel .carousel-inner .carousel-item.active,
#custCarousel .carousel-inner .carousel-item-next,
#custCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* ------------------- Carousel-Trophy ------------------- */
#carousel-trophy {
    max-width: 800px;
    margin: 0 auto;
}

    #carousel-trophy .carousel-inner > .carousel-item > img,
    #carousel-trophy .carousel-inner > .carousel-item > div > img {
        display: block;
        width: 100%;
        max-height: 500px;
        margin: auto;
    }

@media (max-width: 767px) {
    #carousel-trophy-lake .carousel-inner .carousel-item > div {
        display: none;
    }
}

#carousel-trophy .carousel-inner {
    border-radius: 15px;
}

#carousel-trophy .carousel-control-prev,
#carousel-trophy .carousel-control-next {
    background: none;
    z-index: 10;
    top: 2%;
    width: 30px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*------------ Carousel Trophy-Lake -----------------*/
@media (max-width: 767px) {
    #carousel-trophy-lake .carousel-inner .carousel-item > div {
        display: none;
    }

        #carousel-trophy-lake .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

#carousel-trophy-lake .carousel-inner .carousel-item.active,
#carousel-trophy-lake .carousel-inner .carousel-item-next,
#carousel-trophy-lake .carousel-inner .carousel-item-prev {
    display: flex;
}

/*---------------TrophyById------------*/
#trophy-info-label {
    font-size: 20px;
    margin: 4px;
}

#trophy-rating {
    font-size: 20px;
}

/*---------------Rigs/Add----------------*/
#stepDiv {
    margin: 5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 1em;
    line-height: 1.5em;
    background: hsla(67, 95%, 95%, 1);
}

#stepDiv {
    border: solid 5px hsla(0, 95%, 35%, 1);
}

/*---------------Rigs/ById----------------*/

/* Steps */
.text-dots {
    display: inline;
}

.text-more {
    display: none;
}

/* Trophies */
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}