x#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators > li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 80%;
}

.clicked {
    color: yellow;
}

* {
    box-sizing: border-box;
}


.heading {
    /*font-size: 25px;*/
    margin-right: 25px;
}

/*.fa {
    font-size: 25px;
}
*/
.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
   /* width: 60%;*/
    height: 18px;
    background-color: #4CAF50;
}

.bar-4 {
    /*width: 30%;*/
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    /*width: 10%;*/
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
/*    width: 4%;*/
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
   /* width: 15%;*/
    height: 18px;
    background-color: #f44336;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.item-rating li {
    display: inline-block;
    font-size: 18px;
}

@media (max-width: 767px) {
    .item-rating li {
        margin-top: 25px;
    }
}