@model Carpfish.Web.ViewModels.Rigs.AddRigInputModel
@{
    this.ViewData["Title"] = "Add new rig";
}

<form method="post" enctype="multipart/form-data" class="col-md-8 offset-md-2">
    <!------------------ Rig Main Info --------------------->
    <h2 class="text-center">Rig main info</h2>
    <hr />

    <div class="row">
        <div class="col-sm">
            <img id="rig-img" class="img-fluid" src="https://res.cloudinary.com/dlx1dwguj/image/upload/v1607668086/default-placeholder_pohpbi.png" alt="default rig img" />
            <div class="custom-file mt-3">
                <input id="rig-img-input" asp-for="Image" class="form-control custom-file-input" />
                <label asp-for="Image" class="custom-file-label"></label>
            </div>
        </div>
        <div class="col-sm text-center">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea id="rig-text-area" asp-for="Description" class="form-control" rows="9"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <!------------------ Rig Main Info --------------------->
    <!------------------ Rig Materials --------------------->
    <h2 class="text-center mt-3">Rig materials</h2>
    <hr />

    <div class="text-center">
        <div id="materialsContainer" class="row">
            <div class="input-group col-md-8 offset-md-2 mt-2">
                <div class="input-group-prepend">
                    <span id="material-0" class="input-group-text">1</span>
                </div>
                <input type="text" asp-for="Materials[0].Description" class="form-control" aria-describedby="material-0" />
                <button id="material-del-btn" class="btn btn-danger" disabled>X</button>
                <span asp-validation-for="Materials[0].Description" class="col-xl-12 text-danger"></span>
            </div>
        </div>
        <a id="materialsBtn" class="btn btn-success mt-2">Add More Materials</a>
    </div>
    <!------------------ Rig Materials --------------------->
    <!------------------ Rig Steps --------------------->
    <h2 class="text-center mt-3">Rig Steps</h2>
    <hr />

    <div>
        <div id="stepsContainer">
            <div id="stepDiv">
                <div class="text-center">
                    <h3>Step: 1</h3>
                    <button class="btn btn-sm btn-danger" disabled>Delete step</button>
                </div>
                <div class="row">
                    <div class="col-sm mt-4">
                        <img id="step-img" class="img-fluid" src="https://res.cloudinary.com/dlx1dwguj/image/upload/v1607668086/default-placeholder_pohpbi.png">
                        <div class="custom-file mt-3">
                            <input type="file" asp-for="Steps[0].Image" name="Steps[0].Image" class="form-control custom-file-input">
                            <label class="custom-file-label">Select image</label>
                            <span asp-validation-for="Steps[0].Image" class="col-xl-12 text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm text-center">
                        <label>Description</label>
                        <textarea asp-for="Steps[0].Description" class="form-control" name="Steps[0].Description" rows="14"></textarea>
                        <span asp-validation-for="Steps[0].Description" class="col-xl-12 text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a id="stepsBtn" class="btn btn-success mt-2">Add More Steps</a>
        </div>
    </div>
    <!------------------ Rig Steps --------------------->
    <div class="text-right">
        <input type="submit" class="btn btn-primary btn-lg" value="Submit Rig" />
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            //add picture preview
            $(".custom-file > input").change(function (e) {
                if (e.target.files.length > 0) {
                    this.parentElement.previousElementSibling.src = window.URL.createObjectURL(e.target.files[0]);
                }
            });

            //add file name for label
            $(".custom-file-input").on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;

                if (files[0] !== undefined) {
                    fileLabel.html(files[0].name);
                }
            });

            //append input field for material
            $("#materialsBtn").on("click", function () {
                var div = document.getElementById("materialsContainer").lastElementChild.cloneNode(true);

                var span = div.querySelectorAll("span.input-group-text")[0];
                span.textContent = +span.textContent + 1;

                var currMaterialNumber = +span.id.match(/\d+/)[0] + 1;
                span.id = `material-${currMaterialNumber}`;

                var input = div.querySelectorAll("input")[0];
                input.value = "";
                input.setAttribute("aria-describedby", `material-${currMaterialNumber}`);
                input.id = input.id.replace(/\d+/, currMaterialNumber);
                input.name = input.name.replace(/\d+/, currMaterialNumber);

                var validSpan = div.lastElementChild;
                validSpan.setAttribute("data-valmsg-for", `Materials[${currMaterialNumber}].Description`);

                var btn = div.querySelectorAll("button")[0];
                btn.disabled = false;
                btn.addEventListener("click", function () {
                    this.parentNode.remove();
                });

                document.getElementById("materialsContainer").appendChild(div);
            });

            //append step
            $("#stepsBtn").on("click", function () {
                var div = document.getElementById("stepsContainer").lastElementChild.cloneNode(true);

                var h3 = div.querySelectorAll("h3")[0];

                var currStepId = +h3.textContent.match(/\d+/)[0];
                var currStepNumber = currStepId + 1;

                h3.textContent = `Step: ${currStepNumber}`;

                var imgInput = div.querySelectorAll(".custom-file > input")[0];
                imgInput.id = imgInput.id.replace(/\d+/, currStepId);
                imgInput.name = imgInput.name.replace(/\d+/, currStepId);

                imgInput.addEventListener("change", function () {
                    var fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if (files[0] !== undefined) {
                        fileLabel.html(files[0].name);
                    }
                });

                imgInput.addEventListener("change", function (e) {
                    if (e.target.files.length > 0) {
                        this.parentElement.previousElementSibling.src = window.URL.createObjectURL(e.target.files[0]);
                    }
                });

                var imgValidSpan = div.querySelectorAll(".custom-file > span")[0];
                imgValidSpan.setAttribute("data-valmsg-for", `Steps[${currStepId}].Image`);

                var textArea = div.querySelectorAll("textarea")[0];
                textArea.id = textArea.id.replace(/\d+/, currStepId);
                textArea.name = textArea.name.replace(/\d+/, currStepId);

                var textSpan = textArea.nextElementSibling;
                textSpan.setAttribute("data-valmsg-for", `Steps[${currStepId}].Description`);

                var btn = div.querySelectorAll("button")[0];
                btn.disabled = false;
                btn.addEventListener("click", function () {
                    this.parentNode.parentNode.remove();
                });

                //clear previous data
                div.querySelectorAll("img")[0].src = "https://res.cloudinary.com/dlx1dwguj/image/upload/v1607668086/default-placeholder_pohpbi.png";
                div.querySelectorAll(".custom-file-label")[0].textContent = "Select image";
                textArea.value = "";

                document.getElementById("stepsContainer").appendChild(div);
            });
        });
    </script>
}